$light: rgb(0, 0, 0)14, 13, 13);
$primary-color: #df3b11;
$secondary-color: #df3b11;
$success: #1bbb1b;
$black: #000;
$alert:#c7254e;
$border-color:#dedede;
$primary-font:'Roboto', sans-serif;
$secondary-font:'Volkhov', serif;
$icon-font: 'themefisher-font';