{{ define "main" }}

<article class="page type-page status-publish hentry">
  <header class="entry-header has-text-align-center header-footer-group">
    <div class="entry-header-inner section-inner medium">
      <h1 class="entry-title">{{ .Title }}</h1>
    </div>
  </header>
  <div class="post-inner thin">
    <div class="entry-content">
      {{ .Content }}
    </div>
  </div>
</article>

<script type="text/javascript">var submitted=false;</script>
  <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" 
  onload="if(submitted) {window.location.pathname='thankyou.html';}"></iframe>

<form action="https://docs.google.com/forms/d/e/1FAIpQLSfzFnNfhTv-8GhCxrhJdLEws6jV3iOQJiDcLKHy--aDdUk15Q/formResponse" method="post" style="margin:100px" target="hidden_iframe" onsubmit="submitted=true;">
  <input type="email" placeholder="Email address*" name="entry.732395290" required><br>

  <input type="text" placeholder="Name" name="entry.1340498882"><br>

  <input type="text" placeholder="Story title*" name="entry.1385546740" required><br>

  <textarea rows="5" placeholder="Your story*" name="entry.814778669" required></textarea><br>

  <br>By submitting my story, I agree to the community guidelines.<br><br>
 
  <button type="submit" style="align-content:center">Submit</button>
</form>

{{ end }}
